# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-selfcheck.json

# IDE / Editor specific
.vscode/
.idea/
*.swp

# Output files
*.xlsx
*.json
*.csv
*.log

# OS-specific
.DS_Store
Thumbs.db
